*{
    margin:0;
    padding: 0;
    box-sizing:border-box;

}
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
@-ms-viewport {
  width: device-width ;
}

body{
    font-family: 'Times New Roman', Times, serif;
    padding: 50px;
    background-color: rgb(100, 200, 100);
    color: #040b6d;
}
.input{
    border:none;
    background: none;
    color: inherit;
    outline: none;

}
.banner{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    
}
.headng
{
    
    font-weight: bold;
    font-size: 3rem;
    padding: 0 0 10px 0;
    letter-spacing: 0.02em;


}

.inputbutton{
    cursor: pointer;
    background-color: #4f4ce2;
    font-size: 1rem;
    margin-left: 400px;
    padding: 10px 15px;
    font-weight: bold;
    transition: background 0.1s linear;
    letter-spacing: 0.05em;
    border-width: 10px;
    border-radius: 5px;
    position: relative;
    top: 15px;
    left:180px;

}
.inputbutton:hover{
    background: rgb(209, 94, 17);
}
.inputcity
{
    padding:10px;
    height: 50px;
    width: 1200px;
    color: inherit;
    border: none;
    outline: none;
    background: inherit;
    font-size: 1.5rem;
    border-bottom: solid;
    padding: 5px 5px 5px 10px;
}
.inputcity placeholder
{
    color: inherit;
}
.credit{
    position: relative;
    left:315px;
    bottom: 10px;
}
.display{
    background-color: #fff;
    width: 25%;
    height: 125%;
    margin-left: 520px;
    border-radius: 10px;
   
}
.weather_icon{
    
    padding-left: 80px;
}
.cityname{
    
    padding-left: 80px;
}
.tempval{
    
    padding-left: 80px;
}
.description{
    
    padding-left: 80px;
    padding-bottom: 50px;
}
